<template>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
    >  
      <v-card>
          <v-card-title class="headline red--text">
            EditBlog
          </v-card-title>
          <v-card-text>
            <v-container>
            <v-row>
              <v-col
                cols="12"
                sm="6"
                md="4"
              >
                <v-text-field
                  label="title"
                  required
                  v-model="title"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="descrpition"
                  v-model="description"
                  required
                ></v-text-field>
              </v-col>
              <!-- <v-col cols="12">
                <v-file-input
                  accept="image/*"
                  label="photo"
                ></v-file-input>
              </v-col> -->
            </v-row>
          </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="error darken-1"
              text
              @click.native="close"
            >
              Cancel
            </v-btn>
            <v-btn
              color="green darken-1"
              text
              @click="edit"
            >
              Edit
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';
export default {
     data: () => ({
      apiDomain : "https://demo-api-vue.sanbercloud.com",
      dialog: false,
      title:'',
      description:'',
    }),
    methods : {
        close(){
            this.$emit('closed',false)
        },
        // hapus(){
        //   let id = this.params
        //   let formData = new FormData()
        //       formData.append('photo',this.photo)
              
        //   const config = {
        //         method: "post",
        //         url : this.apiDomain + "/api/v2/blog/"+id+"/upload-photo",
        //         headers : {'Authorization': 'Bearer ' + this.token},
        //         data : formData
        //     };
        edit(){
          let id = this.params.id
          let formData = new FormData()
              formData.append('title',this.title)
              formData.append('description',this.description)
          const config = {
                method: "post",
                url : this.apiDomain + "/api/v2/blog/"+id,
                headers : {'Authorization': 'Bearer ' + this.token},
                params : {_method : "PUT"},
                data : formData
            };
            this.axios(config)
            .then((response)=>{
              console.log(response)
              console.log('success')
                this.setAlert({
                    status : true,
                    color : 'success',
                    text : 'Blog Berhasil dihapus',
                })
                this.close()
                this.$router.go(-1)
                })
            .catch((response)=>{
              console.log('gagal')
                console.log(response)
                this.setAlert({
                    status : true,
                    color : 'error',
                    text : 'Gagal',
                })
            })
          
        },
         ...mapActions({
          setAlert : 'alert/set',
          setToken : 'auth/setToken',
          setUser : 'auth/setUser',
          checkToken : 'auth/checkToken',
    })
    },
    computed : {
        ...mapGetters({
    params : 'dialog/params',
    guest : 'auth/guest',
    user : 'auth/user',
    token : 'auth/token'
    }),
    },
    mounted(){
    if(this.token){
      this.checkToken(this.token)
      this.title= this.params.title
      this.description= this.params.description
      this.dialog = true
    }

  }
}
</script>