<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
    >
      <template v-slot:activator="{ on, attrs }">
        <div>
          <v-btn  fab v-bind="attrs"
            v-on="on" block color="primary" @click="dialog = false"> <v-icon> mdi-plus</v-icon> 
            </v-btn>
        </div>
      </template>
      <v-card>
        <v-card-title>
          <span class="headline">Blog</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col
                cols="12"
                sm="6"
                md="4"
              >
                <v-text-field
                  label="title"
                  required
                  v-model="title"
                ></v-text-field>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  label="descrpition"
                  v-model="description"
                  required
                ></v-text-field>
              </v-col>
              <!-- <v-col cols="12">
                <v-file-input
                  accept="image/*"
                  label="photo"
                ></v-file-input>
              </v-col> -->
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click="dialog = false"
          >
            Close
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="addblog"
          >
            Add Blog
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
  import{mapGetters, mapActions} from 'vuex'
  export default {
    data: () => ({
      dialog: false,
      title : '',
      description: '',
    }),
    methods:{
      addblog(){
        let formData = new FormData()
        formData.append('title',this.title)
        formData.append('description',this.description)
        // formData.append('photo',this.photo)

        const config ={
          method : 'post',
          url : 'https://demo-api-vue.sanbercloud.com/api/v2/blog',
          headers:{'Authorization' : 'Bearer' + this.token},
          data : formData,
          

        }
        this.axios(config)
          .then((response) =>{
            console.log(response.data)  
            alert('Terima Kasih')
          })
          .catch((error)=>{
            console.log(error)
          })
      }
    },
    ...mapActions({
      setAlert : 'alert/set',
      setDialogComponent : 'dialog/component',
      setToken : 'auth/setToken',
      setUser : 'auth/setUser',
      checkToken : 'auth/checkToken',
    }),

    computed:{
      ...mapGetters({
        guest : 'auth/guest',
        user : 'auth/user',
        token : 'auth/token'
      })
    },
    mounted(){
      if(this.token){
        this.checkToken(this.token)
      }
    }
  }
</script>