<template>
  <v-row justify="center">
    <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
    >
      <template v-slot:activator="{ on, attrs }">
        <div >
          <v-btn v-bind="attrs"
            v-on="on" block color="success" class="mb-1" > <v-icon left> mdi-account</v-icon> Register 
            </v-btn>
        </div>
      </template>
      <v-card>
        <v-card-title>
          <span class="headline">User Profile</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-form>
              <v-row>
                <v-col
                  cols="12"
                  sm="6"
                  md="4"
                >
                  <v-text-field v-model="name"
                    label="name"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field v-model="email"
                    label="email*"
                    required
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field v-model="password"
                    label="password*"
                    type="password"
                    required
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-form>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click="dialog = false"
          >
            Close
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="register"
          >
            Register
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
  import {mapActions} from 'vuex'
  export default {
    data: () => ({
      dialog: false,
      name : '',
      email : '',
      password : '',
    }),
    methods:{
      ...mapActions({
      setAlert : 'alert/set',
      }),
      close(){
            this.$emit('closed',false)
        },

      register(){
        let formData = new FormData()
        formData.append('name',this.name)
        formData.append('email',this.email)
        formData.append('password',this.password)

        const config ={
          method : 'post',
          url : 'https://demo-api-vue.sanbercloud.com/api/v2/auth/register',
          data : formData
        }
        this.axios(config)
          .then((response) =>{
            console.log(response.data)  
            this.setAlert({
            status : true,
            color : 'success',
            text : 'Register Berhasil', 
          })
          this.close()
          })
          .catch((error)=>{
            console.log(error)
          })
      }
    }
      

    
  }
</script>