<template>
    <v-dialog
      v-model="dialog"
      persistent
      max-width="600px"
    >  
      <v-card>
          <v-card-title class="headline red--text">
            Upload Photo
          </v-card-title>
          <v-file-input v-model="photo"
            accept="image/*"
            label="File input"
          ></v-file-input>
          <v-card-text></v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="error darken-1"
              text
              @click.native="close"
            >
              Cancel
            </v-btn>
            <v-btn
              color="green darken-1"
              text
              @click="hapus"
            >
              Upload
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
</template>
<script>
import { mapGetters, mapActions } from 'vuex';
export default {
     data: () => ({
      apiDomain : "https://demo-api-vue.sanbercloud.com",
      dialog: false,
      photo:[],
    }),
    methods : {
        close(){
            this.$emit('closed',false)
        },
        hapus(){
          let id = this.params
          let formData = new FormData()
              formData.append('photo',this.photo)
              
          const config = {
                method: "post",
                url : this.apiDomain + "/api/v2/blog/"+id+"/upload-photo",
                headers : {'Authorization': 'Bearer ' + this.token},
                data : formData
            };
            this.axios(config)
            .then((response)=>{
              console.log(response)
              console.log('success')
                this.setAlert({
                    status : true,
                    color : 'success',
                    text : 'Blog Berhasil dihapus',
                })
                this.close()
                this.$router.go(-1)
                })
            .catch((response)=>{
              console.log('gagal')
                console.log(response)
                this.setAlert({
                    status : true,
                    color : 'error',
                    text : 'Gagal',
                })
            })
        },
         ...mapActions({
          setAlert : 'alert/set',
          setToken : 'auth/setToken',
          setUser : 'auth/setUser',
          checkToken : 'auth/checkToken',
    })
    },
    computed : {
        ...mapGetters({
    params : 'dialog/params',
    guest : 'auth/guest',
    user : 'auth/user',
    token : 'auth/token'
    }),
    },
    mounted(){
    if(this.token){
      this.checkToken(this.token)
      this.dialog = true
    }

  }
}
</script>