<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <button onclick="vm.openForm()">Open Form</button>
      <h1>{{'Nilai a : ' + total}}</h1>
      <h1>{{'Rata-rata a : ' + mean}}</h1>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      var vm = new Vue({
        el: `#app`,
        data: {
          a: 0,
          total: 0,
          mean: 0,
        },
        methods: {
          openForm: function () {
            var i = 0;
            var nilai = 0;
            while (i <= 3) {
              this.a = prompt("Masukkan nilai a");
              nilai = nilai + parseInt(this.a);
              i++;
            }
            this.total = nilai;
            console.log(this.total);
            this.mean = this.total / 4;
          },
        },
      });
    </script>
  </body>
</html>
