<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <form @submit.prevent="submitForm()">
        <div mb-1>
          <label>Name : {{name}} </label><br />
          <input type="text" name="name" ref="name" v-model="name" />
        </div>
        <br />
        <div>
          <label>Address : {{address}}</label><br />
          <input type="text" name="address" ref="address" v-model="address" />
        </div>
        <br />
        <div>
          <label>No_Hp : {{no_hp}}</label><br />
          <input type="text" name="no_hp" ref="no_hp" v-model="no_hp" /><br />
        </div>
        <div v-if="buttonStatus == 'submit'">
          <input type="submit" value="SUBMIT" />
        </div>
        <!-- <input type="submit" value="SUBMIT" /> -->
        <!-- <button type="submit">SUBMIT</button>
          <button type="submit">UPLOAD</button> -->
        <div v-if="buttonStatus == 'edit'">
          <input type="button" value="UPDATE" @click="updateMember(idEdit)" />
          <input type="button" value="CANCEL" @click="clearForm()" />
        </div>
        <div v-if="buttonStatus == 'upload'">
          <input type="file" name="photo" ref="photo" />
          <input type="button" value="UPLOAD" @click="confirmPhoto(idUpload)" />
          <input type="button" value="CANCEL" @click="clearForm()" />
          <!-- <button type="submit">SUBMIT</button> -->
        </div>
      </form>
      <br />
      <member-component>
        <template v-slot:name="propsSlot">{{propsSlot.member.name}} </template>
        <template v-slot:address="propsSlot">{{propsSlot.member.address}} </template>
      </member-component>
      <table>
        <tr v-for="member of members">
          <th>
            <img
              src="https://store-images.s-microsoft.com/image/apps.45813.14485801067684106.faf8ee46-086d-4a1d-a270-cd789ba643f7.2c90cdc2-e039-4235-aff7-e12583dd05d5?mode=scale&q=90&h=200&w=200&background=%23FFFFFF"
              alt=""
            />
          </th>
          <th>
            <p>Name</p>
            : <slot name="name" v-bind:member="member">{{member.name}}</slot>
            <p>Address</p>
            : <slot name="address" v-bind:member="member">{{member.address}}</slot>
            <p>No_Hp</p>
            : <slot name="no_hp" v-bind:member="member">{{member.no_hp}}</slot>
          </th>
          <th>
            <button @click="editMember(member)">Edit</button>
            <button @click="removeMember(member.id)">Hapus</button>
            <button @click="uploadPhoto(member)">Upload Foto</button>
          </th>
        </tr>
      </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script></script>
    <script>
      var vm = new Vue({
        el: "#app",
        data: {
          name: "",
          address: "",
          no_hp: "",
          members: [],
          errors: [],
          buttonStatus: "submit",
          idEdit: null,
          idUpload: null,
          photoDomain: "http://demo-api-vue.sanbercloud.com",
        },

        methods() {
          return {
            validationForm: function () {
              if (this.name.length > 50) {
                this.errors.push("Tidak boleh lebih dari 50 karakter");
                this.$refs.name.focus();
              }
              if (this.name.length < 4) {
                this.errors.push("Tidak boleh kurang dari 4 karakter");
                this.$refs.name.focus();
              }
              if (this.errors.length === 0) {
                alert("Input Berhasil");
              }
            },

            submitForm: function (event) {
              if (this.errors.length === 0) {
                let formData = new FormData();
                formData.append("name", this.name);
                formData.append("address", this.address);
                formData.append("no_hp", this.no_hp);
                console.log(event);

                const config = {
                  method: "post",
                  url: "http://demo-api-vue.sanbercloud.com/api/member",
                  data: formData,
                };
                axios(config)
                  .then((response) => {
                    this.clearForm();
                    this.getMembers();
                    alert(response.data.message);
                  })
                  .catch((error) => {
                    console.log(error);
                  });
              }
            },
            getMembers: function () {
              const config = {
                method: "get",
                url: "http://demo-api-vue.sanbercloud.com/api/member",
              };
              axios(config)
                .then((response) => {
                  console.log(response.data);
                  this.members = response.data.members;
                })
                .catch((error) => {
                  console.log(error);
                });
            },
            removeMember: function (id) {
              const config = {
                method: "post",
                url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                params: { _method: "DELETE" },
              };
              axios(config)
                .then((response) => {
                  this.getMembers();
                  alert(response.data.message);
                })
                .catch((error) => {
                  console.log(error);
                });
              console.log(id);
            },
            editMember: function (member) {
              this.name = member.name;
              this.address = member.address;
              this.no_hp = member.no_hp;
              this.idEdit = member.id;
              this.buttonStatus = "edit";
            },
            updateMember: function (id) {
              console.log(id);
              if (this.errors.length === 0) {
                let formData = new FormData();
                formData.append("name", this.name);
                formData.append("address", this.address);
                formData.append("no_hp", this.no_hp);

                let config = {
                  method: "post",
                  url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                  params: { _method: "PUT" },
                  data: formData,
                };
                axios(config)
                  .then((response) => {
                    this.clearForm();
                    this.getMembers();
                    this.buttonStatus = "submit";
                    alert(response.data.message);
                  })
                  .catch((error) => {
                    console.log(error);
                  });
              }
            },
            uploadPhoto: function (member) {
              this.buttonStatus = "upload";
              this.name = member.name;
              this.address = member.address;
              this.no_hp = member.no_hp;
              this.idUpload = member.id;
            },
            confirmPhoto: function (id) {
              let file = this.$refs.photo.files[0];
              // console.log(file);
              let formData = new FormData();
              formData.append = ("photo_profile", file);

              let config = {
                method: "post",
                url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                data: formData,
              };
              axios(config)
                .then((response) => {
                  this.clearForm();
                  this.getMembers();
                  alert(response.data.message);
                  console.log(response);
                  console.log(idUpload);
                  this.buttonStatus = "submit";
                })
                .catch((error) => {
                  console.log(error);
                });
            },
            clearForm: function () {
              this.name = "";
              this.address = "";
              this.no_hp = "";
            },
          };
        },
        created() {
          this.getMembers();
        },
      });

      var vm = new Vue({
        el: "#app",
        components: {
          "member-component": MemberComponent,
        },
      });
    </script>
  </body>

  <style>
    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>
</html>
