<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <h1>Blog yang dipilih : {{selectedBlog}}</h1>
      <blog-component v-for="blog in blogs" :blog="blog" @selected="selectedBlog = $event"> </blog-component>
      <!-- <blog-component title="Ini Judul 2" content="Ketika mimpimu tak pernah terwujuud yassudahlah2"></blog-component> -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="module">
      var BlogComponent = {
        template: `
        <div>
          <h3>{{ blog.title }} <button @click="$emit('selected',blog.title)">Pilih</button></h3>
          <p>{{ blog.content }}</p>
        </div>`,
        data() {
          return {
            pesan: "ini dari component blog",
          };
        },
        props: ["blog"],
      };

      const vm = new Vue({
        el: "#app",
        components: {
          "blog-component": BlogComponent,
        },
        data: {
          blogs: [
            {
              title: "ini judul 1",
              content: "content 1",
            },
            {
              title: "ini judul 2",
              content: "content 2",
            },
          ],
          selectedBlog: "",
        },
      });
    </script>
  </body>
</html>
