<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div class="container" id="namas">
      <div class="panel panel-default">
        <ul class="list-group">
          <p class="list-group-item clearfix">
            <input
              v-model="newnamaName"
              @keyup.enter="newnama"
              type="text"
              class="form-control input-height pull-left"
            />
            <button class="btn btn-success btn-sm pull-right btn-width" @click="newnama">Add</button>
          </p>
          <li class="list-group-item clearfix" v-for="nama in namelist">
            <strong v-if="!editActive">{{ nama.description }}</strong>
            <input
              v-model="editnamaName"
              v-bind:placeholder="nama.description"
              v-if="editActive"
              @keyup.enter="editnama"
              type="text"
              class="form-control input-height pull-left"
            />

            <button type="button" @click="task.editing = true" class="btn btn-default" v-if="!nama.completed">
              Edit
            </button>
            <button type="button" class="btn btn-default" @click="removenama(nama)" v-if="!nama.completed">
              Delete
            </button>
          </li>
        </ul>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
      new Vue({
        el: "#namas",
        data: {
          completed: null,
          newnamaName: "",
          editnamaName: "",
          editActive: false,
          namelist: [],
        },

        methods: {
          completenama: function (nama) {
            nama.completed = true;
          },
          newnama: function () {
            this.namelist.push({ description: this.newnamaName, completed: false, editing: false });
          },
          removenama: function (nama) {
            this.namelist.splice(this.namelist.indexOf(nama), 1);
            console.log(nama);
          },
          editnama: function (nama) {
            nama.editing = false;
            console.log(nama);
          },
        },
      });
    </script>
  </body>
</html>
