<template>
  <div>
    <v-card v-if="blog.id">
      <v-img
        :src="blog.photo ? apiDomain + blog.photo : 'https://picsum.photos/200/300'"
        class="white--text"
        height="200px"
      >
        <v-card-title class="fill-height align-end" v-text="blog.title"> </v-card-title
      ></v-img>

      <v-card-text>
        <v-simple-table dense>
          <tbody>
            <tr>
              <td><v-icon>mdi-format-title</v-icon> Judul</td>
              <td class="blue--text">{{ blog.title }}</td>
            </tr>
            <tr>
              <td><v-icon>mdi-note</v-icon> Deskripsi</td>
              <td>{{ blog.description }}</td>
              
            </tr>
          </tbody>
          
        </v-simple-table>
      </v-card-text>
      <v-btn v-bind="attrs" v-on="on" block  right color="error" @click="dialogdelete">Delete</v-btn>
      <v-btn class="mt-2" v-bind="attrs" v-on="on" block  right color="success" @click="uploadphoto">Upload</v-btn>
      <v-btn class="mt-2" v-bind="attrs" v-on="on" block  right color="primary" @click="edit">Edit</v-btn>
      
      <!-- <v-btn  absolute right small color="error">Delete</v-btn> -->
    </v-card>
  </div>
</template>
<script>
import{mapActions} from 'vuex'
export default {
  name:"Blog",
  data: () => ({
    blog: {},
    apiDomain: "https://demo-api-vue.sanbercloud.com",
  }),
  
  methods: {
    go() {
      let { id } = this.$route.params;
      const config = {
        method: "get",
        url: `${this.apiDomain}/api/v2/blog/${id}`,
      };

      this.axios(config)
        .then((response) => {
          let { blog } = response.data;
          this.blog = blog;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    dialogdelete(){
      this.setDialogComponent({
        'component' : 'DialogDeleteBlog',
        'params': this.blog.id
      })

    },
    edit(){
      this.setDialogComponent({
        'component' : 'DialogEditBlog',
        'params': this.blog
      })
    },

    uploadphoto(){
      this.setDialogComponent({
        'component' : 'DialogPhotoBlog',
        'params': this.blog.id 
      })
    },
    ...mapActions({
      setDialogComponent : 'dialog/setComponent',
    })

  },
  created() {
    this.go();
  },
};
</script>
