<template>
  <v-container>
    <div class="text-right">
      <v-btn small text to="/blogs"> All Blogs <v-icon>mdi-chevron-right</v-icon></v-btn>
    </div>
    <v-layout wrap>
      <blog-item-component v-for="blog in blogs" :key="`blog-` + blog.id" :blog="blog"></blog-item-component>
    </v-layout>
    <button @click="increment(10)">Tambah</button>
    {{ count }}
  </v-container>
</template>

<script>
import BlogItemComponent from "../components/BlogItemComponent.vue";
import { mapMutations, mapGetters} from "vuex";
export default {
  name:"Home",
  data: () => ({
    apiDomain: "https://demo-api-vue.sanbercloud.com",
    blogs: [],
  }),

  components: {
    "blog-item-component": BlogItemComponent,
  },

  computed: {
    // count() {
    //   return this.$store.getters.count;
    // },
    ...mapGetters({
      count: "counter/count",
    }),
  },

  methods: {
    go() {
      const config = {
        method: "get",
        url: this.apiDomain + "/api/v2/blog/random/4",
        headers:{
          contentType : 'application/json',
        }
      };

      console.log(config);
      this.axios(config)
        .then((response) => {
          let { blogs } = response.data;
          this.blogs = blogs;
          console.log(this.blogs);
        })
        .catch((error) => {
          console.log(error);
        });
    },

    ...mapMutations({
      increment: "counter/increment",
    }),
  },

  created() {
    // console.log(this.$store.state.count);
    this.go();
  },
};
</script>
