<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div id="App">
      <input type="text" name="message" class="form-control" v-model="search" placeholder="ketikkan kata kunci" />
      <div>
        <ul v-for="item in filteredMessage" :key="item.id">
          <li>{{ item.message }}</li>
          <!-- | filterBy search in 'message' -->
        </ul>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script> -->
    <script>
      var example1 = new Vue({
        el: "#App",
        data() {
          return {
            search: "",
            items: [
              { message: "Kalkulus Dasar" },
              { message: "Fisika Dasar" },
              { message: "Aljabar Linier Elementer" },
              { message: "Aljabar Abstrak" },
              { message: "Algoritma Pemrograman" },
            ],
          };
        },
        computed: {
          filteredMessage() {
            return this.items.filter((item) => item.message.toLowerCase().includes(this.search.toLowerCase()));
          },
        },
      });
    </script>
  </body>
</html>
