<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <form @submit.prevent="submitForm()">
        <div mb-1>
          <label>Name : {{name}} </label><br />
          <input type="text" name="name" ref="name" v-model="name" />
        </div>
        <br />
        <div>
          <label>Address : {{address}}</label><br />
          <input type="text" name="address" ref="address" v-model="address" />
        </div>
        <br />
        <div>
          <label>No_Hp : {{no_hp}}</label><br />
          <input type="text" name="no_hp" ref="no_hp" v-model="no_hp" /><br />
        </div>
        <div v-if="buttonStatus == 'submit'">
          <input type="submit" value="SUBMIT" />
        </div>
        <!-- <input type="submit" value="SUBMIT" /> -->
        <!-- <button type="submit">SUBMIT</button>
          <button type="submit">UPLOAD</button> -->
        <div v-if="buttonStatus == 'edit'">
          <input type="button" value="UPDATE" @click="updateMember(idEdit)" />
          <input type="button" value="CANCEL" @click="clearForm()" />
        </div>
        <div v-if="buttonStatus == 'upload'">
          <input type="file" name="photo" ref="photo" />
          <input type="button" value="UPLOAD" @click="confirmPhoto(idUpload)" />
          <input type="button" value="CANCEL" @click="clearForm()" />
          <!-- <button type="submit">SUBMIT</button> -->
        </div>
      </form>
      <br />
      <table>
        <member-components :members="members" @editMember="editMember"></member-components>
      </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script></script>
    <script type="module">
      import { MemberComponents } from "./MemberComponent.js";
      var vm = new Vue({
        el: "#app",
        components: {
          MemberComponents,
        },
        data: {
          name: "",
          address: "",
          no_hp: "",
          members: [],
          errors: [],
          buttonStatus: "submit",
          idEdit: null,
          idUpload: null,
          photoDomain: "http://demo-api-vue.sanbercloud.com",
        },
        methods: {
          validationForm: function () {
            if (this.name.length > 50) {
              this.errors.push("Tidak boleh lebih dari 50 karakter");
              this.$refs.name.focus();
            }
            if (this.name.length < 4) {
              this.errors.push("Tidak boleh kurang dari 4 karakter");
              this.$refs.name.focus();
            }
            if (this.errors.length === 0) {
              alert("Input Berhasil");
            }
          },

          submitForm: function () {
            if (this.errors.length === 0) {
              let formData = new FormData();
              formData.append("name", this.name);
              formData.append("address", this.address);
              formData.append("no_hp", this.no_hp);

              const config = {
                method: "post",
                url: "http://demo-api-vue.sanbercloud.com/api/member",
                data: formData,
              };
              axios(config)
                .then((response) => {
                  this.clearForm();
                  this.getMembers();
                  alert(response.data.message);
                })
                .catch((error) => {
                  console.log(error);
                });
            }
          },
          getMembers: function () {
            const config = {
              method: "get",
              url: "http://demo-api-vue.sanbercloud.com/api/member",
            };
            axios(config)
              .then((response) => {
                console.log(response.data);
                this.members = response.data.members;
              })
              .catch((error) => {
                console.log(error);
              });
          },
          removeMember: function (id) {
            // console.log(id);
            const config = {
              method: "post",
              url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
              params: { _method: "DELETE" },
            };
            axios(config)
              .then((response) => {
                this.getMembers();
                alert(response.data.message);
              })
              .catch((error) => {
                console.log(error);
              });
          },
          editMember: function (member) {
            this.buttonStatus = "edit";
            this.name = member.name;
            this.address = member.address;
            this.no_hp = member.no_hp;
            this.idEdit = member.id;
          },
          updateMember: function (id) {
            this.validationForm();
            console.log(id);
            if (this.errors.length === 0) {
              let formData = new FormData();
              formData.append("name", this.name);
              formData.append("address", this.address);
              formData.append("no_hp", this.no_hp);

              const config = {
                method: "post",
                url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                params: { _method: "PUT" },
                data: formData,
              };
              console.log(config);
              axios(config)
                .then((response) => {
                  this.clearForm();
                  this.getMembers();
                  this.buttonStatus = "submit";
                  alert(response.data.message);
                })
                .catch((error) => {
                  console.log(error);
                });
            }
          },
          uploadPhoto: function (member) {
            this.buttonStatus = "upload";
            this.name = member.name;
            this.address = member.address;
            this.no_hp = member.no_hp;
            this.idUpload = member.id;
          },
          confirmPhoto: function (id) {
            let file = this.$refs.photo.files[0];
            console.log(file);
            let formData = new FormData();
            formData.append = ("photo-profile", file);
            console.log(id);
            let config = {
              method: "post",
              url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
              data: formData,
            };
            console.log(formData);
            axios(config)
              .then((response) => {
                this.clearForm();
                this.getMembers();
                // alert(response.data.message);
                console.log(response);
                this.buttonStatus = "submit";
              })
              .catch((error) => {
                console.log(error);
              });
          },
          clearForm: function () {
            this.name = "";
            this.address = "";
            this.no_hp = "";
          },
        },
        created() {
          this.getMembers();
        },
      });
    </script>
  </body>

  <style>
    table,
    th,
    td {
      border: 1px solid black;
    }
  </style>
</html>
